<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Prajjwal Yadav</title>
		<link id="favicon" rel="shortcut icon" type="image/x-icon" href="images/icons/favicon.ico">
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- 
        Lavish HTML CSS Template
        https://templatemo.com/tm-458-lavish
        -->
        
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
    <!-- custom -->
     <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		
		<!-- custom -->
		<script src="/blog/js/custom.js"></script>
		<!--send mail -->
		<script src="/blog/js/send.js"></script>
    
		<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
	</head>
	<body>

		<!-- To remove loader- delete this div, remove from css and scripts too -->
		<div class="loader">

			<div class="circ">
			  <div class="load">Loading . . . </div>
			  <div class="hands" align="center">
			  	<!-- <span>{</span><span>}</span> -->
			  </div>
			  <div class="body"></div>
			  <div class="head">
			    <div class="eye"></div>
			  </div>
			</div>
		</div>
		


      <nav class="navbar navbar-inverse navbar-fixed-top" id="navi">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">
		      	<span class="grey-color"> &lt;</span>
              	<span class="logo-name">Prajjwal Yadav</span>
              	<span class="grey-color">/&gt;</span>

              </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
		      <ul class="nav navbar-nav navbar-right">
		      	<li>
					<input type="checkbox" class="toggle-input" id="switch" placeholder ="is"/><label for="switch">Toggle</label>
				</li>
		        <li><a href="#work">Experience</a></li>
		        <li><a href="#about">Skills</a></li>
		        <li><a href="#portfolio">Portfolio</a></li>
		        <li><a href="#contact">Contact</a></li>
		        
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

	<div id="fullpage">

		
		<!-- start home -->
		

		<!-- start portfolio -->
		<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">PORTFOLIO</h2>
				</div>
				<div class="col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
					
					<div class="portfolio-thumb">
						<a href="#portfolioModal1" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
						<img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h3>Mess Manager</h3>
								<h4>Android App</h4>
							</div>
						</a>
					</div>
					
				</div>
				<div class="col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<a href="#portfolioModal2" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
						<img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h3>Comportal</h3>
								<h4>Django Website</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<a href="#portfolioModal3" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
						<img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h3>I-Ray</h3>
								<h4>Java Software</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<a href="#portfolioModal4" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
						<img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h3>PeCon</h3>
								<h4>Android App</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">CONTACT ME</p>
							<p><i class="fa fa-phone"></i> 07983402317</p>
							<p><i class="fa fa-whatsapp"></i> 08445805848 </p>
							<p><a href="mailto:prajjyadav0904@gmail.com?subject=Important!&body=Hi." target="_blank" rel="noopener noreferrer" class="fa fa-envelope-o"></a></i> prajjyadav0904@gmail.com</p>
							<p><a href="./Resume.pdf" target="_blank" rel="noopener noreferrer" class="fa fa-file-text-o"></a></i> See my Resume</p>

						</address>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
						<form role="form" id="formoid">
							<input name="name" type="text" class="form-control" id="name" placeholder="Your Name">
							<input name="email" type="email" class="form-control" id="email" placeholder="Your Email">
							<textarea name="message" rows="5" class="form-control" id="message" placeholder="Your Message"></textarea>
							<input name="send" type="button" class="form-control" id="send" value="SEND ME">
						</form>

					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						
						
						<ul class="social-icon">
							<li><a href="https://www.linkedin.com/in/prajjyadav0904/" class="fa fa-linkedin"></a></li>
							<li><a href="https://github.com/prajjyadav" class="fa fa-github"></a></li>
							<li><a href="https://medium.com/@prajjyadav0904" class="fa fa-medium"></a></li>
							<li><a href="https://www.facebook.com/prajjwal.yadav.1297" class="fa fa-facebook"></a></li>
							<li><a href="https://twitter.com/Prajjwalyadav9" class="fa fa-twitter"></a></li>
							<li><a href="https://www.instagram.com/prajjyadav94/" class="fa fa-instagram"></a></li>
						</ul>
						<hr>
						<p>Made with <a href="#heartModal" id="heart" class="portfolio-link b-link-diagonal b-animate-go fa fa-heart" data-toggle="modal"></a> by Prajjwal</p>
						
					</div>
				</div>
			</div>
		</footer>

		<!-- end footer -->
		

	</div>


	<!-- Modals start -->

	<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-content port-modal">
	        <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	                <div class="rl"></div>
	            </div>
	        </div>

	        <div class="container">
				<div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <div class="modal-body">
							<h3>Mess Manager</h3>
							<H4>Android App</H4>
	                        <img src="images/portfolio-img1.jpg" class="img-responsive img-centered" alt="">
	                        <p>Mess Manager is an android app that assist the work of mess. 
							QR code is generated that can be scanned and meal is recorded for the particular individual. Everyone need to register before for having the meal and the price of meal is deducted for that individual.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-content port-modal">
	        <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	                <div class="rl"></div>
	            </div>
	        </div>

	        <div class="container">
				<div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <div class="modal-body">
							<h3>Comportal</h3>
							<h4>Django Website</h4>
	                        <img src="images/portfolio-img2.jpg" class="img-responsive img-centered" alt="">
	                        <p>Comportal is a Django website used to register the complaint. Notification will be sent via mail to concerned authorities. The pdf of the registered complaint can be printed and submitted if required. It can be upvoted if its common problem.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-content port-modal">
	        <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	                <div class="rl"></div>
	            </div>
	        </div>

	        <div class="container">
				<div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <div class="modal-body">
							<h3>I-Ray</h3>
							<h4>Java Software</h4>
	                        <img src="images/portfolio-img3.jpg" class="img-responsive img-centered" alt="">
	                        <p>I-Ray is a linux ide which assist in writing and compiling the code making things easier for a casual programmer. It can compile and run C, C++, JAVA and PYTHON codes on the go. A programmer can work on different tabs simultaneously.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-content port-modal">
	        <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	                <div class="rl"></div>
	            </div>
	        </div>

	        <div class="container">
				<div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <div class="modal-body">
							<h3>PeCon</h3>
							<h4>Android App</h4>
	                        <img src="images/portfolio-img4.jpg" class="img-responsive img-centered" alt="">
	                        <p>PeCon helps the user to connect to the persons they care for. It marks the real time location of the friends and family members on the map. It works in the similar way as other friend locator app. It includes features like calling the emergency no in the time of distress, it also help to keep the notes of particular person.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="portfolio-modal modal fade slideanim" id="heartModal" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-content port-modal">
	        <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	                <div class="rl"></div>
	            </div>
	        </div>

	        <div class="container">
				<div class="row">
	                <div class="col-lg-8 col-lg-offset-2 text-center">
	                    <div class="modal-body">
							<h3>Congratulations</h3>
							<h4>You have successfully found the easter egg.</h4>
	                        
	                        <p>⚡ I like playing games whether indoor or outdoor does matter. Games help us to build strategies.</p>
	                        <p>⚡ I like solving puzzles. You could have guessed this, because you have found the eater egg.</p>
							<p>⚡ I'm an avid reader. I like reading fantasy, autobiographies and self help books. I have read the monk who sold his ferrari, Harry Potter, wings of fire. Why? bcoz books are the best source to gain knowledge and what could be better than, to learn from others experience. </p>
							<p>⚡ I'm an Coder and Developer, because it gives you scope to use your brain and develop the things of your imagination into real life.</p>
							<p>⚡ I'm a binge watcher and watch at the speed of 2 times. I love watching sci-fi, action, adventure, fantasy movies. If you watch the same genre, the probablity is, i have watched all the movies that you had. I love anime and animated movies. I have watched all major tv series including friends (many times).</p>
							<p>⚡ I love travelling to the new places. I want to see the beauty of nature and architectural masterpieces.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>


	<!-- Modals end -->



	</body>
</html>
